@import '../theme/theme';

.posts {
  @include absolute(0, 0, 0, 0);
  overflow: auto;

  &-wrapper {
    width: $blog-width;
    padding: 0 16px;
    max-width: 100%;
    min-height: 100%;
    margin: auto;
  }
}
