@import '../theme/theme';

.footer {
  display: flex;
  background: $color-neutralLighter;
  height: $footer-height;
  @include absolute(null, 0, 0, 0);
  box-shadow: 0 -4px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;

  > div {
    flex: 1 1 0;
    display: flex;
    padding: 0 16px;
    height: 100%;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;

    > a {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  &-previous {
    justify-content: flex-start;
  }
  &-home {
    justify-content: center;
  }
  &-next {
    justify-content: flex-end;
  }
}
