@import '../theme/theme';

.preview {
  @include block;

  &:first-child {
    margin-top: 16px;
  }

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    margin-bottom: 16px;

    &-title {
      margin: 0 16px 0 0;
    }

    &-date {
      font-size: 14px;
      line-height: 19px;
    }
  }

  &-exerpt {
  }

  &-link {
    margin-top: 16px;
    display: flex;
    justify-content: flex-end;
  }
}
